@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
@import url('https://fonts.cdnfonts.com/css/akira-expanded');

* {
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue';
}

hr {
  width: 100vw;
  background: linear-gradient(to right, #FCCA34, #FCF904, #9CFA5C, #1CF9E4, #7F87FF);
  height: 5px;
  border: none;
}

.header-container {
  color: #FCFCFC;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}

.ul-header-container {
  display: flex;
  align-items: center;
}

.ul-li-text {
  list-style-type: none;
  font-size: 14px;
  padding: 0 10px;
}

.a-li:hover {
  transition: all 0.3s ease;
  color: #DCA63D;
}

.a-li:not(:hover) {
  transition: all 0.3s ease;
}

.a-li {
  text-decoration: none;
  color: #FCFCFC;
  text-decoration: none;
}

.home-container {
  padding: 0 100px;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  display: flex;
  height: 600px;
  width: 100vw;
  position: relative;
  overflow: hidden;
  background-color: #121212;
}

.h1-home {
  margin-top: -70px;
  font-size: 50px;
  font-family: 'Akira Expanded';
  background: linear-gradient(to right, #2CA2B4, #5598DE, #7F87FF, #F65AAD, #EC3D43);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: animated-gradient 20s linear infinite;
}

.p-home {
  font-weight: 700;
  font-size: 30px;
  color: #FCFCFC;
}

.span-p-home {
  color: #979797;
}

.cards-container {
  align-items: center;
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 40px; 
  left: 100px; 
  z-index: 1;
}

.card {
  color: #FCFCFC;
  text-align: left;
}

.card h2 {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.card p {
  letter-spacing: 1px;
  font-weight: 200;
  max-width: 200px;
  font-size: 10px;
}

.scroll-down {
  justify-content: center;
  position: absolute;
  bottom: 20px;
  right: 100px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #FCFCFC;
  animation: bounce 2s infinite;
}

.scroll-down p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.scroll-down span {
  margin-top: 2px;
  width: 24px;
}

.aboutme-container{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100vw;
  height: 600px;
  background-color: #FCFCFC;
}

.aboutme-text-container{
  padding: 0 30px;
}

.aboutme-photo-container{
  padding: 0 30px;
}

.aboutme-img{
  border-radius: 1000px;
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
}

.h1-aboutme{
  align-items: center;
  display: flex;
  padding: 2px 0;
  font-size: 40px;
  background: linear-gradient(to right, #2CA2B4, #5598DE, #7F87FF, #F65AAD, #EC3D43);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: animated-gradient 20s linear infinite;
}

.p1-aboutme{
  padding: 2px 0;
  font-size: 25px;
  font-weight: 500;
}

.p2-aboutme{
  margin-bottom: 15px;
  padding: 10px 0;
  letter-spacing: 1px;
  font-weight: 200;
  font-size: 15px;
  max-width: 500px;
}

.btn-portfolio-aboutme{
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  height: 30px;
  width: 150px;
  color: #FCFCFC;
  background-color: #0071E3;
}

.experiences-container{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  background-color: #FBFBFD;
  height: 500px;
  width: 100vw;
}

.experiences-text{
  margin-top: -40px;
  padding: 50px 0;
}

.experiences-card{
  padding: 0 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.h2-experiences{
  font-size: 40px;
  background: linear-gradient(to right, #2CA2B4, #5598DE, #7F87FF, #F65AAD, #EC3D43);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: animated-gradient 20s linear infinite;
}

.p-experiences{
  font-size: 25px;
  font-weight: 500;
}

.card-exp{
  border: 1px solid #0071E3;
  border-radius: 20px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  height: 200px;
  width: 300px;
  padding: 20px;
  background-color: #FCFCFC;
}

#h2-card-exp-codenext{
  margin-bottom: 20px;
  text-align: left;
  font-size: 40px;
  color: #5598DE;
}

#h2-card-exp-yourclub{
  margin-bottom: 20px;
  text-align: left;
  font-size: 40px;
  color: #F65AAD;
}

.p-card-exp{
  margin-bottom: 30px;
  font-size: 18px;
  max-width: 250px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@keyframes animated-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*MEDIA QUERY TABLET*/

@media (min-width: 531px) and (max-width: 850px) {
  .home-container {
    padding: 0 50px;
    height: 700px;
  }

  .h1-home {
    margin-top: -100px;
    font-size: 45px; 
    text-align: left; 
  }

  .p-home {
    font-size: 30px;
    text-align: left; /* Alinha o texto no centro */
  }

  .cards-container {
    left: 50px;
    flex-direction: column; 
    display: flex;
  }

  .card h2 {
    font-size: 15px; /* Diminui o tamanho da fonte */
  }

  .card p {
    font-size: 8px; /* Diminui o tamanho da fonte */
  }

  .scroll-down {
    right: 50px;
    font-size: 14px;
  }

  .scroll-down p {
    font-size: 14px; /* Diminui o tamanho da fonte */
  }

  .scroll-down span {
    font-size: 20px; /* Diminui o tamanho da fonte */
  }

  .aboutme-container{
    padding: 0 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100vw;
    height: 500px;
    background-color: #FCFCFC;
  }
  
  .aboutme-text-container{
    padding: 0 20px;
  }
  
  .aboutme-photo-container{
    padding: 0 20px;
  }
  
  .aboutme-img{
    border-radius: 1000px;
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
  }
  
  .h1-aboutme{
    align-items: center;
    display: flex;
    padding: 2px 0;
    font-size: 30px;
    background: linear-gradient(to right, #2CA2B4, #5598DE, #7F87FF, #F65AAD, #EC3D43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: animated-gradient 20s linear infinite;
  }
  
  .p1-aboutme{
    padding: 2px 0;
    font-size: 20px;
    font-weight: 500;
  }
  
  .p2-aboutme{
    margin-bottom: 15px;
    padding: 10px 0;
    letter-spacing: 1px;
    font-weight: 200;
    font-size: 10px;
    max-width: 500px;
  }
  
  .btn-portfolio-aboutme{
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    height: 30px;
    width: 150px;
    color: #FCFCFC;
    background-color: #0071E3;
  }
  
  .experiences-container{
    padding: 0 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: #FBFBFD;
    height: 350px;
    width: 100vw;
  }
  
  .experiences-text{
    margin-top: -40px;
    padding: 40px 0;
  }
  
  .experiences-card{
    padding: 0 30px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .h2-experiences{
    font-size: 30px;
    background: linear-gradient(to right, #2CA2B4, #5598DE, #7F87FF, #F65AAD, #EC3D43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: animated-gradient 20s linear infinite;
  }
  
  .p-experiences{
    font-size: 20px;
    font-weight: 500;
  }
  
  .card-exp{
    border: 1px solid #0071E3;
    border-radius: 20px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 180px;
    width: 220px;
    padding: 20px;
    background-color: #FCFCFC;
  }
  
  #h2-card-exp-codenext{
    margin-bottom: 20px;
    text-align: left;
    font-size: 20px;
    color: #5598DE;
  }
  
  #h2-card-exp-yourclub{
    margin-bottom: 20px;
    text-align: left;
    font-size: 20px;
    color: #F65AAD;
  }
  
  .p-card-exp{
    margin-bottom: 30px;
    font-size: 15px;
    max-width: 250px;
  }
}

/*MEDIA QUERY CELULAR*/

@media (max-width: 530px) {

  .ul-li-text{
    font-size: 10px;
  }

  .home-container {
    padding: 0 30px;
    height: 500px;
  }

  .h1-home {
    margin-top: -100px;
    font-size: 25px; 
    text-align: left; 
  }

  .p-home {
    font-size: 18px;
    text-align: left; /* Alinha o texto no centro */
  }

  .cards-container {
    left: 30px;
    flex-direction: column; 
    display: flex;
  }

  .card h2 {
    font-size: 15px; /* Diminui o tamanho da fonte */
  }

  .card p {
    font-size: 8px; /* Diminui o tamanho da fonte */
  }

  .scroll-down {
    right: 40px;
    font-size: 12px;
  }

  .scroll-down p {
    font-size: 12px; /* Diminui o tamanho da fonte */
  }

  .scroll-down span {
    font-size: 16px; /* Diminui o tamanho da fonte */
  }

  .aboutme-container{
    padding: 0 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100vw;
    height: 350px;
    background-color: #FCFCFC;
  }
  
  .aboutme-text-container{
    padding: 0 20px;
  }
  
  .aboutme-photo-container{
    padding: 0 20px;
  }
  
  .aboutme-img{
    max-height: 100%;
    max-width: 100%;
    display: block;
  }
  
  .h1-aboutme{
    align-items: center;
    display: flex;
    padding: 2px 0;
    font-size: 25px;
    background: linear-gradient(to right, #2CA2B4, #5598DE, #7F87FF, #F65AAD, #EC3D43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: animated-gradient 20s linear infinite;
  }
  
  .p1-aboutme{
    padding: 2px 0;
    font-size: 15px;
    font-weight: 500;
  }
  
  .p2-aboutme{
    margin-bottom: 15px;
    padding: 10px 0;
    letter-spacing: 1px;
    font-weight: 200;
    font-size: 8px;
    max-width: 800px;
  }
  
  .btn-portfolio-aboutme{
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    height: 30px;
    width: 150px;
    color: #FCFCFC;
    background-color: #0071E3;
  }
  
  .experiences-container{
    padding: 0 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: #FBFBFD;
    height: 350px;
    width: 100vw;
  }
  
  .experiences-text{
    margin-top: -40px;
    padding: 50px 0;
  }
  
  .experiences-card{
    padding: 0 30px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .h2-experiences{
    margin-bottom: 5px;
    font-size: 25px;
    background: linear-gradient(to right, #2CA2B4, #5598DE, #7F87FF, #F65AAD, #EC3D43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: animated-gradient 20s linear infinite;
  }
  
  .p-experiences{
    font-size: 15px;
    font-weight: 500;
  }
  
  .card-exp{
    border: 1px solid #0071E3;
    border-radius: 20px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 180px;
    width: 200px;
    padding: 20px;
    background-color: #FCFCFC;
  }
  
  #h2-card-exp-codenext{
    margin-bottom: 20px;
    text-align: left;
    font-size: 20px;
    color: #5598DE;
  }
  
  #h2-card-exp-yourclub{
    margin-bottom: 20px;
    text-align: left;
    font-size: 20px;
    color: #F65AAD;
  }
  
  .p-card-exp{
    margin-bottom: 30px;
    font-size: 13px;
    max-width: 250px;
  }

  .p-date-exp{
    font-size: 12px;
  }
}
